# Ambiente virtual
.venv/
venv/

# Banco de dados local
db.sqlite3

# Cache do Python
__pycache__/
*.pyc

# Configs do VSCode (se usar)
.vscode/

# Environment variables
.env

# Arques de fotos e mídia
product_[0-9].png
product_[0-9][0-9].png
product_[0-9][0-9][0-9].png
product_[0-9][0-9][0-9][0-9].png
product_[0-9].jpeg
product_[0-9][0-9].jpeg
product_[0-9][0-9][0-9].jpeg
product_[0-9][0-9][0-9][0-9].jpeg
product_[0-9].jpg
product_[0-9][0-9].jpg
product_[0-9][0-9][0-9].jpg
product_[0-9][0-9][0-9][0-9].jpg
