<div class="modal-header">
    <h5 class="modal-title" id="customerModalLabel">Novo Cliente</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>
<div class="modal-body">
    <input type="hidden" name="id" id="form-id">
    <div class="mb-3">
        <label for="form-name" class="form-label">Nome</label>
        <input type="text" name="name" class="form-control" id="form-name" required>
    </div>
    <div class="mb-3">
        <label for="form-trade" class="form-label">Nome Fantasia</label>
        <input type="text" name="trade_name" class="form-control" id="form-trade">
    </div>
    <div class="mb-3">
        <label for="form-phone" class="form-label">Telefone</label>
        <input type="text" name="phone" class="form-control" id="form-phone" required>
    </div>
    <div class="mb-3">
        <label for="form-email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="form-email">
    </div>
    <div class="mb-3">
        <label for="form-address" class="form-label">Endereço</label>
        <textarea name="address" class="form-control" id="form-address" rows="3"></textarea>
    </div>
</div>
<div class="modal-footer flex justify-content-center">
    <button type="submit" class="btn btn-success" id="submit-button">Salvar</button>
</div>
